<footer class="site-footer">
  <div class="container">
    <div class="row">

<!-- logo -->

        <div class="col-6 col-sm-2 footer-col text-center text-sm-left">
        <a href="index.html">
          <img
            src="asmeimg/ASME_new_logo.png"
            alt="ASME Illinois logo"
            class="footer-logo"
            loading="lazy"
          />
        </a>
      </div>
      <!-- Column 1: About -->
      <div class="col-6 col-sm-2 footer-col">
        <h5>About</h5>
        <ul class="list-unstyled">
          <li><a href="contactus.html">Contact Us</a></li>
          <li><a href="aboutus.html">Exec Board</a></li>
          <li><a href="podcasts.html">Podcasts</a></li>
          <li><a href="corp.html">Corporate</a></li>
        </ul>
      </div>

      <!-- Column 2: Join -->
      <div class="col-6 col-sm-2 footer-col">
        <h5>Join</h5>
        <ul class="list-unstyled">
          <li><a href="news.html">Membership</a></li>
        </ul>
      </div>

      <!-- Column 3: Events & Committees -->
      <div class="col-6 col-sm-2 footer-col">
        <h5>Events</h5>
        <ul class="list-unstyled">
          <li><a href="getinvolved.html">Calendar</a></li>
          <li><a href="workshops.html">Workshops</a></li>
        </ul>
      </div>

      <div class="col-6 col-sm-2 footer-col">
        <h5>Committees</h5>
        <ul class="list-unstyled">
          <li><a href="specialprojects.html">Special Projects</a></li>
          <li><a href="sustainability.html">Sustainability</a></li>
          <li><a href="productdev.html">Product Development</a></li>
          <li><a href="competitions.html">Competitions</a></li>
          <li><a href="outreach.html">Outreach</a></li>
        </ul>
      </div>

      <!-- Column 4: Contact -->
      <div class="col-6 col-sm-2 footer-col text-right">
        <h5>Contact</h5>
        <ul class="list-unstyled contact-list">
          <li>
            <i class="fas fa-envelope"></i>
            <a href="mailto:asme.mechse@gmail.com">asme.mechse@gmail.com</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>