<footer class="site-footer">
  <div class="footer-content container">
    <div class="row">
      <!-- Information Column -->
      <div class="col-md-2 col-sm-4 footer-section">
        <h4>Information</h4>
        <ul class="list-unstyled">
          <li><a href="about_us.html">About Us</a></li>
          <li><a href="events_calendar.html">Events Calendar</a></li>
          <li><a href="dei.html">DEI</a></li>
        </ul>
      </div>

      <!-- Explore Column -->
      <div class="col-md-2 col-sm-4 footer-section">
        <h4>Explore</h4>
        <ul class="list-unstyled">
          <li><a href="design_teams.html">Design Teams</a></li>
          <li><a href="courses.html">Courses</a></li>
          <li><a href="seminars.html">Seminars</a></li>
          <li><a href="leadership.html">Leadership</a></li>
        </ul>
      </div>

      <!-- Leadership Column -->
      <div class="col-md-2 col-sm-4 footer-section">
        <h4>Leadership</h4>
        <ul class="list-unstyled">
          <li><a href="internal_team.html">Internal Team</a></li>
          <li><a href="external_team.html">External Team</a></li>
          <li><a href="marketing.html">Marketing</a></li>
          <li><a href="board_of_directors.html">Board of Directors</a></li>
        </ul>
      </div>

      <!-- Contact Us Column -->
      <div class="col-md-6 col-sm-12 footer-section">
        <h4>Contact Us</h4>
        <p><a href="tel:765-494-4600">765-494-4600</a></p>
        <p><a href="mailto:purdueasme@gmail.com">purdueasme@gmail.com</a></p>
        <div class="social-icons">
          <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
          <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
          <a href="https://tiktok.com"><i class="fab fa-tiktok"></i></a>
        </div>
      </div>
    </div>
  </div>

<!-- Start Footer Copyright Bar -->
<div class="copyright-bar">
  <div class="container">
    <p class="pull-left small">© bskit – BootstrapCreator.com</p>
    <p class="pull-right small">Made with ♥ in Berlin</p>
  </div>
</div>