<footer class="site-footer">
  <div class="container">
    <div class="row align-items-center">
      
      <!-- Logo -->
      <div class="col-sm-4 text-center text-sm-left">
        <a href="index.html">
          <img
            src="asmeimg/ASME_new_logo.png"
            alt="ASME Illinois"
            class="footer-logo"
          />
        </a>
      </div>
      
      <!-- Nav Links -->
      <div class="col-sm-8">
        <ul class="footer-nav list-inline text-center text-sm-right mb-0">
          <li class="list-inline-item">
            <a href="index.html">Home</a>
          </li>
          <li class="list-inline-item dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              About
            </a>
            <ul class="dropdown-menu footer-dropdown">
              <li><a href="contactus.html">Contact Us</a></li>
              <li><a href="aboutus.html">Exec Board</a></li>
              <li><a href="podcasts.html">Podcasts</a></li>
              <li><a href="corp.html">Corporate</a></li>
            </ul>
          </li>
          <li class="list-inline-item dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Join
            </a>
            <ul class="dropdown-menu footer-dropdown">
              <li><a href="news.html">Membership</a></li>
            </ul>
          </li>
          <li class="list-inline-item dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Events
            </a>
            <ul class="dropdown-menu footer-dropdown">
              <li><a href="getinvolved.html">Calendar</a></li>
              <li><a href="workshops.html">Workshops</a></li>
            </ul>
          </li>
          <li class="list-inline-item dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Committees
            </a>
            <ul class="dropdown-menu footer-dropdown">
              <li><a href="specialprojects.html">Special Projects</a></li>
              <li><a href="sustainability.html">Sustainability</a></li>
              <li><a href="productdev.html">Product Development</a></li>
              <li><a href="competitions.html">Competitions</a></li>
              <li><a href="outreach.html">Outreach</a></li>
            </ul>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</footer>